In [ ]:
## DICTIONARIES

In [40]:
words={'1':'sai','112':'cse'}
print(words)

{'1': 'sai', '112': 'cse'}

In [3]:
print(type(words))

<class 'dict'>

In [4]:
len(words)

2

In [41]:
min(words)

'1'

In [6]:
words.keys()

dict_keys(['name', 'branch'])

In [7]:
max(words)

'name'

In [ ]:
## MEMBERSHIP OPERATORS

    * In
    * not in

In [8]:
'branch' in words

True

In [9]:
'place' not in words

True

In [10]:
dir(words)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [11]:
words.__len__()

2

In [12]:
words

{'name': 'sai', 'branch': 'cse'}

In [13]:
words1=words
words1

{'name': 'sai', 'branch': 'cse'}

In [14]:
words1['name']='ravi'

In [15]:
words1

{'name': 'ravi', 'branch': 'cse'}

In [16]:
dict.fromkeys(range(3),'new value')

{0: 'new value', 1: 'new value', 2: 'new value'}

In [17]:
student=words.copy()
student

{'name': 'ravi', 'branch': 'cse'}

In [18]:
print(student)

{'name': 'ravi', 'branch': 'cse'}

In [35]:
vani={'1':'10','2':'4','4':'5','7':'3','3':'23'}
vani
sorted(vani)
reverse=True

In [52]:
student

{'bracnch': '23', 'place': 'nuz'}

In [1]:
student.get('branch')
#student.get('name')

NameError: name 'student' is not defined

In [21]:
student['name']

'ravi'

In [22]:
print(student.get('place'))

None

In [23]:
print(student.get('place'),'absent')

None absent

In [24]:
student

{'name': 'ravi', 'branch': 'cse'}

In [25]:
student['branch']='ece'
student

{'name': 'ravi', 'branch': 'ece'}

In [28]:
#student
del student['branch']

KeyError: 'branch'

In [30]:
student

{'name': 'ravi'}

In [41]:
student.items()

dict_items([('name', 'ravi')])

In [42]:
student['branch']='IT'
student

{'name': 'ravi', 'branch': 'IT'}

In [43]:
student.pop('branch')

'IT'

In [44]:
student

{'name': 'ravi'}

In [45]:
student.pop('aadhar')

KeyError: 'aadhar'

In [64]:
vani={'1':'10','2':'4','4':'5','7':'3','3':'23'}
vani
vani.items()
sorted(vani)
vani.keys()
vani.values()
#sorted_d = sorted(vani.items())

dict_values(['10', '4', '5', '3', '23'])

In [47]:
student={'name':'as','bracnch':'23','place':'nuz','data':'45'}
student.popitem()
student.pop('name')
student

{'bracnch': '23', 'place': 'nuz'}

In [51]:
student.popitem()

('name', 'ravi')

In [10]:
hi={'name':'as','bracnch':'23','place':'nuz','data':'45'}
hi

{'name': 'as', 'bracnch': '23', 'place': 'nuz', 'data': '45'}

In [11]:
hi.popitem()
hi

{'name': 'as', 'bracnch': '23', 'place': 'nuz'}

In [13]:
hi.clear()
hi

{}

In [23]:
hai={'1':23,'34':4,'45':56,'8':9,'67':89,'9':78}
sorted(hai.values())

[4, 9, 23, 56, 78, 89]

In [49]:
student.get('name')

In [56]:
student

{}

In [57]:
student.setdefault('name','ramu')

'ramu'

In [50]:
student={'name':'ruthu','place'='gin'}
student.get('place')

SyntaxError: invalid syntax (<ipython-input-50-b59808e4ce08>, line 1)

In [59]:
student.setdefault('name','ravi')

'ramu'

In [60]:
student

{'name': 'ramu'}

In [65]:
student.items()

dict_items([('name', 'ramu')])

In [79]:
student

{'course': 'IIIT', 'place': 'vijayawada'}

In [32]:
for key in student:
    print(key)
    print(student[key])

name
ravi

In [36]:
for key in student:
    print(key,student[key],sep="------>")

name------>ravi

In [87]:
for key in student.keys():
    print(key,student[key],sep="---->")

course---->IIIT
place---->vijayawada

In [88]:
for key,value in student.items():
    print(key,value,sep="----->")

course----->IIIT
place----->vijayawada

In [91]:
for i,j in zip([1,2,3,4,5],[1,2,3,38,4]):
    print(i,j)

1 1
2 2
3 3
4 38
5 4

In [92]:
for i,j in zip(['name','branch','place','id'],['vanitha','cse','guntur','n130661']):
    print(i,j)

name vanitha
branch cse
place guntur
id n130661

In [111]:
s='hello world'
s

'hello world'

In [114]:
freq={}
for char in s:
    if char in freq:
        freq[char]=count(char)
print(freq)

{}

In [115]:
freq={}
for char in s:
    freq[char]=freq.get(char,0)+1
print(freq)

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [116]:
s='hello world'
dic={}
for ch in s:
    dic[ch]=s.count(ch)
print(dic)

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [117]:
fre={}
for ch in s:
    if ch in fre:
        fre[ch]+1
    else:
        fre[ch]=1
print(fre)

{'h': 1, 'e': 1, 'l': 1, 'o': 1, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [ ]:
## Find the frequency of each character from a to z in a


s='hello world'
freq={}
for s in freq:

In [122]:
## Adding key,value in a dictionary


s={'name':'ruthu','branch':'cse'}
s['place']='vijayawada'
s['role']='coding'
s

{'name': 'ruthu', 'branch': 'cse', 'place': 'vijayawada', 'role': 'coding'}

In [28]:
##  Write a Python script to concatenate following dictionaries to create a new one. Go to the editor

"""Sample Dictionary : 
dic1={1:10, 2:20} 
dic2={3:30, 4:40} 
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}"""


a={'1':'2','3':'5'}
b={'2':'4','5':2}
c={'8':'2','4':'9'}
dic4 = {}
for d in (a,b,c):
    dic4.update(d)
print(dic4)

{'1': '2', '3': '5', '2': '4', '5': 2, '8': '2', '4': '9'}

In [145]:
a={'name':'abc','branch':'mme','place':'vijayawada'}
for key in a:
    print("this key is present in dictionary")

this key is present in dictionary
this key is present in dictionary
this key is present in dictionary

In [144]:
s='hello world'
alphabets=list(map(chr,range(97,123)))
freq=dict.fromkeys(alphabets,0)
for char in s:
    if char in freq:
        freq[char]=freq.get(char,0)+1
print(freq)

{'a': 0, 'b': 0, 'c': 0, 'd': 1, 'e': 1, 'f': 0, 'g': 0, 'h': 1, 'i': 0, 'j': 0, 'k': 0, 'l': 3, 'm': 0, 'n': 0, 'o': 2, 'p': 0, 'q': 0, 'r': 1, 's': 0, 't': 0, 'u': 0, 'v': 0, 'w': 1, 'x': 0, 'y': 0, 'z': 0}

In [149]:
## Write a Python script to check if a given key already exists in a dictionary.

d = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
def iskeypresent(x):
    if x in d:  
        print("this key is present in dictionary")
    else:
        print("this key not present in dictionary")
        
iskeypresent(50)

this key not present in dictionary

In [153]:
## Write a Python program to iterate over dictionaries using for loops

d = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
for key,value in d.items():
    print(key,d[key],sep=".....")

1.....10
2.....20
3.....30
4.....40
5.....50
6.....60

In [22]:

#Write a Python script to print a dictionary where the keys are
# numbers between 1 and 5 (both included) and the values are square of keys


n=int(input())
dict={}
for x in range(1,n+1):
    dict[x]=x*x
print(dict)

5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [6]:
## Write a Python script to print a dictionary where the keys are
# numbers between 1 and 15 (both included) and the values are square of keys

n=int(input("Input a number "))
dict={}

for x in range(1,n+1):
    dict[x]=x*x

print(dict)

Input a number 15
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [11]:
# Write a Python program to sum all the items in a dictionary.

s={'data1':45,'data2':67,'data3':98}
print(sum(s.values()))

210

In [9]:
my_dict = {'data1':100,'data2':-54,'data3':247}
print(sum(my_dict.values()))

293

In [14]:

# Write a Python program to multiply all the items in a dictionary.

s={'data1':4,'data2':6,'data3':1}
res=1
for key in s:
    res=res*s[key]
print(res)

24

In [19]:
#remove key in a dictionary

s={'data1':4,'data2':6,'data3':1}
s.pop('data1')
s

{'data2': 6, 'data3': 1}

In [42]:
## Write a Python program to map two lists into a dictionary.


for i,j in zip(['name','course','place'],['JFHJ@@','HSJJH123##','DKJD4KHFJD']):
    print(i,j)

name JFHJ@@
course HSJJH123##
place DKJD4KHFJD

In [50]:
f={1: 1, 5: 4, 8: 9, 4: 16, 45: 25}
sorted(f)

[1, 4, 5, 8, 45]

In [51]:
t={'name': 'ruthu', 'branch': 'cse', 'place': 'vijayawada', 'role': 'coding'}
sorted(t)

['branch', 'name', 'place', 'role']

In [54]:
t={'name': 'ruthu', 'branch': 'cse', 'place': 'vijayawada', 'role': 'coding'}
for key in sorted(t):
    print(key,t[key])

branch cse
name ruthu
place vijayawada
role coding

In [58]:
## Write a Python program to sort a dictionary by key.

color_dict = {'red':'#FF0000',
          'green':'#008000',
          'black':'#000000',
          'white':'#FFFFFF'}

for key in sorted(color_dict):
    print((key, color_dict[key]))

('black', '#000000')
('green', '#008000')
('red', '#FF0000')
('white', '#FFFFFF')

In [65]:
## MAX KEY IN A DICTIONARY

## MIN VALUE IN A DICTIONARY

f={1: 1, 5: 4, 8: 9, 4: 16, 45: 25}
print("maximum value is :--",max(f))
#min(f)

maximum value is :-- 45

In [71]:
d={'a':500, 'b':5874, 'c': 560,'d':400, 'e':5874, 'f': 45}
thirdlargest=nlargest(3,d,key=d.get)
print(thirdlargest)

['b', 'e', 'c']

In [77]:
s=input().split()
d={}
for word in s:
    t=0
    for char in word:
        t +=ord(char)
    while(t>9):
        li=list(map(int,str(t)))
        t=sum(li)
    d[word]=t
print(d)

sai ravi
{'sai': 2, 'ravi': 2}

In [80]:
def asciisum(name):
    return str(sum(list(map(ord,name))))
asciisum('sai')
#asciisum('ram')

'317'

In [83]:
def reduce2digit(string_number):
    result=sum(list(map(int,string_number)))
    if result>9:
        return str(reduce2digit(str(result)))
    return result
reduce2digit('317')

'2'

In [84]:
names=['sai','ram','raju']
luckynames={}
for name in names:
    total=asciisum(name)
    luckynumber=reduce2digit(total)
    luckynames[name]=int(luckynumber)
luckynames

{'sai': 2, 'ram': 5, 'raju': 2}

In [86]:
leastnumber=min(luckynames.values())
leastnumber

2

In [87]:
for name,luckynumber in luckynames.items():
    if luckynumber==leastnumber:
        print(name,luckynumber)

sai 2
raju 2

In [24]:
my_dict = {'name': 'John', 1: [2, 4, 3]}

In [25]:
my_dict

{'name': 'John', 1: [2, 4, 3]}

In [26]:
st=input()
dic={}
for ch in st:
    dic[ch]=ord(ch)
print(dic)

vani
{'v': 118, 'a': 97, 'n': 110, 'i': 105}

In [27]:
for i,j in zip({1,2,3},{2,3,4}):
    print(i,j)

1 2
2 3
3 4

In [36]:
s={'name':'vani','name':'guntur'}
s

{'name': 'guntur'}

In [32]:
for key,value in s.items():
    print(key,s[key])

name vani
place guntur

In [30]:
str=input()
dic={}
for ch in str:
    dic[ch]=ord(ch)
print(dic)

va
{'v': 118, 'a': 97}

In [3]:
g={'branch': '23', 'place': 'nuz'}
g.get('branch')
#g

'23'

In [18]:
s=input()
#count=0
alpha=0
otherch=0
s1=0
for i in s:
    if i.isdigit():
        s1=s1+int(i)
    elif i.isalpha():
        alpha+=1
    else:
        otherch=otherch+1

print(s1)
print(alpha)
print(otherch)

vanitha374385798@8538@@@@
78
7
5