## Python Library for Data Analysis

### Pandas-Data Analysis

    * series object

In [1]:
# function to read CSV data into DataFrame
# Return The DataFrame Object

filepath='DataFiles/Income.csv'
import pandas as pd
def readCSVdata(filepath):
    return pd.read_csv(filepath)
readCSVdata(filepath)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [2]:
incomedf=readCSVdata(filepath)

#Function to print all column names in a single line
# GEOID STATE 2005 2006 2007 2008 2009 2010 2011 2012 2013

def printDataFrameColumns(df):
    columns=df.columns
    for column in columns:
        print(column,end=" ")
    return 
printDataFrameColumns(incomedf)

GEOID State 2005 2006 2007 2008 2009 2010 2011 2012 2013

In [3]:
## Function to access a row based on a unique column value
def accessdataframerow(df,key):
    for row in df.values:
        if key in row:
            for item in row:
                print(item,end=" ")
    return 
accessdataframerow(incomedf,'Alaska')

04000US02 Alaska 55891 56418 62993 63989 61604 57848 57431 63648 61137

In [4]:
incomedf.values[2][4]=62993
incomedf

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [11]:
def number(li):
    for i in range(1,a+1):
        li.append(i)
    print(li[i])
    
    
n=int(input())
a=int(input())
li=[1,2,3,4,5]
number(li)

3
5
1

In [15]:
arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    arr[i - 1] = arr[i]
    print(arr[i])

2
3
4
5
6

In [16]:
arr[1]=3
arr[2]=4
print(arr[1]+arr[2])

7

In [23]:
def maxnum(li):
    max = li[ 0 ]
    for a in li:
        if a > max:
            max = a
    return max
print(maxnum([1, 2, -8, 0]))

2

In [24]:
def num(n):
    for i in range(1,n+1):
        print(i,end=" ")
num(7)

1 2 3 4 5 6 7

In [6]:
## Accessing unique value based on row,column information
## Income of state in a given year

def valuefromRowColumn(df,rowkey,columnkey):
    for i in range(len(df.values)):
        if df.values[i][0]==rowkey or df.values[i][1]==rowkey:
            rowindex=i
    for i in range(len(df.columns)):
        if df.columns[i]==columnkey:
            columnindex=i
    
    return df.values[rowindex][columnindex]
valuefromRowColumn(incomedf, 'California', '2009')

56134

In [1]:
incomedf = readCSVdata(filepath)
filepath = 'DataFiles/Income.csv'
def AverageIncome2005_to_13(df, filepath):
    for i in range(len(df.values)):
        sum = 0
        count = 0
        for j in range(2, len(df.columns)):
            sum=sum+df.values[i][j]
            count+=1
        print(sum//count)
AverageIncome2005_to_13(incomedf, filepath)

NameError: name 'readCSVdata' is not defined

In [5]:

def readCSVdata(filepath):
    return pd.read_csv(filepath)
readCSVdata(filepath)

incomedf = readCSVdata(filepath)
filepath = 'DataFiles/Income.csv'
def AverageIncome2005_to_13(df, filepath):
    for i in range(len(df.values)):
        sum = 0
        count = 0
        for j in range(2, len(df.columns)):
            sum=sum+df.values[i][j]
            count+=1
        print(sum//count)
AverageIncome2005_to_13(incomedf, filepath)

41126
60106
47214
38828
55350

In [ ]:

## Write a function to find highest income of the last 3years

filepath = 'DataFiles/Income.csv'
def HighestIncomeof_last_3_years(df, filepath):
    li = []
    u = {}
    for i in range(len(df.values)):
        sum = 0
        count = 0
        for j in range(8, len(df.columns)):
            sum=sum+df.values[i][j]
            count+=1
        u[df.values[i][1]]=sum//count
    print(u)
    print('\n')
    a = max(u.values())
    for item in u.items():
        if a==item[1]:
            print(item[0],':',a)