In [6]:
#Function to print all combinations of pairs of integers in a unique list
#[1,2,3]-->(1,2),(1,3),(2,3)-->3C2--->3!

#[1,2,3,4]-->1,2   1,3   1,4   2,3   2,4    3,4

#[1,2,3,4]-->1,2,3     1,2,4   1,3,4   2,3,4

def combinations(li):
    for i in range(len(li)-1):
        for j in range(i+1, len(li)):
            print(li[i],li[j])
    return
li=[1,2,3,4]       

combinations(li)

1 2
1 3
1 4
2 3
2 4
3 4

In [10]:
def combinations(li):
    for i in range(len(li)-1):
        for j in range(i+1, len(li)):
            for k in range(j+1,len(li)):
                print(li[i],li[j],li[k])
    return
li=[1,2,3,4]       

combinations(li)

1 2 3
1 2 4
1 3 4
2 3 4

In [3]:
##[1,2,3]-->[1,2,3]


def KLargestDifferPairs(li):
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d=abs(li[i]-li[j])
            if d not in li:
                li.append(d)
    return li
li=[1,9]
KLargestDifferPairs(li)

[1, 9, 8]

In [15]:
def KLargestDifferPairs(li):
    cli=li
    newelements=[]
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d=abs(li[i]-li[j])
            if d not in li:
                newelements.append(d)
    return newelements
li=[1,9,8,7,6,2,5,3,4]
KLargestDifferPairs(li)

[]

In [38]:
def medium(li,k):
    count=1
    #li3=[[],li]
    while(True):
        li3=KLargestDifferPairs(li)
        if li3[0]==li3[1]:
            break
    
    #return li3[0]
    return sorted(li3[0],reverse=True)[k-1]
            
    
#Function to differences of all pairs of numbers
#pairs of numbers and add those differences to the same list
#It returns the updated list and original list
def KLargestDifferPairs(li):
    cli=li[:]
    newelements=[]
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d=abs(li[i]-li[j])
            if d not in li and d not in newelements :
                newelements.append(d)
    li.extend(newelements)
    return [cli, li]
li=[1,9]
medium(li,2)

8

In [ ]:
def medium(li,k):
    count=1
    #li3=[[],li]
    while(True):
        li3=KLargestDifferPairs(li)
        if li3[0]==li3[1]:
            break
    
    #return li3[0]
    return sorted(li3[0],reverse=True)[k-1]
            
    
#Function to differences of all pairs of numbers
#pairs of numbers and add those differences to the same list
#It returns the updated list and original list
def KLargestDifferPairs(li):
    cli=li[:]
    newelements=[]
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d=abs(int(li[i])-int(li[j]))
            if d not in li and d not in newelements :
                newelements.append(d)
    li.extend(newelements)
    return [cli, li]
li=[1,3,5]
KLargestDifferPairs(li)
#medium(li,2)
with open('DataFiles/input2.txt','r') as f:
    t=int(f.readline())
    for i in range(t):
        f.readline()
        li=f.readline().split()
        k=int(f.readline())
        print(medium(li,k))

In [ ]:
[4,8]
[20,40,60,80]
[4,8,12,16]
[3,6,9,12,15]
#convert the list into an 
#Arithmetic progression

In [4]:
def differncePairs(li):
    c=li.copy()
    newelements=[]
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d=abs(li[i]-li[j])
            if d not in li and d not in newelements:
                newelements.append(d)

    li.extend(newelements)
    return li
li=[2,3,6,9,12,1,4,7,10]
differncePairs(li)

[2, 3, 6, 9, 12, 1, 4, 7, 10, 5, 8, 11]

# Set-Data Structure in Python

-->It is denoted by {}
--->it contains set of values
--->it contains only unique elements
--->it removes the repeated elements

In [13]:
a={1,2,3,4,5,6,6}
a.add(7)  ##Adding a single element in a set
a


for i in a:
    print(i,end=" ")
    
    
b={7,8,9}
li=[11,12,13]
a.update(b,li) ##Adding multiple elements into a set
a

1 2 3 4 5 6 7

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13}

In [22]:
b={3,4,1,2,6,9,7,8}
b

b.discard(9)
b

b.remove(1)
b

b.remove(6)
b

{2, 3, 4, 7, 8}

In [27]:
a={10,1,2,3,4,5,6}
b={7,8,9,1,2,3}
c={111,112}


a.union(b)
#AUB=BUA

#A^B=B^A
a.intersection(b)

a.isdisjoint(b)  ##False  ##common elements are there it shows false

a.isdisjoint(c)   ##TRUE   ##common elements are not in set it shows true

a-b #All elements of a which are not in b

{4, 5, 6, 10}

In [28]:
b-a

{7, 8, 9}

In [29]:
sorted(a)

[1, 2, 3, 4, 5, 6, 10]

In [30]:
a^b  ##elements either in a or b

{4, 5, 6, 7, 8, 9, 10}

In [31]:
d=set()   ##create an empty set
d

set()

In [32]:
li=[1,2,3,5,6,7,8,1,2,4,2,3]
u=set(li)
u

{1, 2, 3, 4, 5, 6, 7, 8}

# Functional Programming


Procedural--> c

object oriented-->java

Scripting-->PHP,PYTHON,JAVA SCRIPT,SHELL,PERL

Functional--->PYTHON,Haskell,Scala

Logic--->Prolog,Lisp

# List Comprehensions

In [34]:
#List of N natural numbers

n=10
for i in range(1,n+1):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [35]:
#List of N natural numbers

n=10
li=[]
for i in range(1,n+1):
    li.append(i)
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [36]:
li=[i for i in range(1,11)]
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [39]:
### Apply list comprehensioin to store the 
#cubes of n natural numbers


li=[i**3 for i in range(1,11)]
li

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [44]:
li=[i%2==0 for i in range(1,5)]
li

[False, True, False, True]

In [5]:
# Function  to calculate the factorial 

def factorial(n):
    if n==0 or n==1:
        return 1
    else:
        return n*factorial(n-1)
factorial(7)


#Apply list comprehension to calculate 
# Factorial of n natural numbers


n=5
factoriallist=[factorial(i) for i in range(1,n+1)]
factoriallist

[1, 2, 6, 24, 120]

In [15]:
def Prime(n):
    count=0
    for i in range(1,n):
        count=count+1
    if count==2:
        return True
    else:
        return False

n=5
limit=[Prime(i) for i in range(1,n+1)]
limit

[False, False, True, False, False]

In [19]:
## Cumulative sum of N natural Numbers

def CumulativeSum(n):
    sum=0
    for i in range(1,n+1):
        sum=sum+i
        #print(i,end=" ")
    return sum


n=5
CumulativeSum1=[CumulativeSum(i) for i in range(1,n+1)]
CumulativeSum1

[1, 3, 6, 10, 15]

In [25]:
##Cumulative product of N natural numbers

def CumulativeSum(n):
    sum=1
    for i in range(1,n+1):
        sum=sum*i
        #print(i,end=" ")
    return sum
n=5
CumulativeSum1=[CumulativeSum(i) for i in range(1,n+1)]
CumulativeSum1

[1, 2, 6, 24, 120]

In [27]:
n=6
cumulativesum3=[sum(range(1,i+1)) for i in range(1,n+1)]
cumulativesum3

[1, 3, 6, 10, 15, 21]

In [38]:
#List Comprehension to store
#only leap years in a given time period

st=1970
et=2019
#leapyears=[1972,1976,1980.....2016]
Leapyears=[i for i in range(st,et+1) if i%400==0 or (i%100!=0 and i%4==0)]
Leapyears

[1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

In [44]:
def Leap(n):
    if n%400==0 or n%100!=0 and n%4==0:
        return True
    else:
        return False
Leap(2000)

def LeapRange(lb,ub):
    for i in range(lb,ub+1):
        if Leap(i)==True:
            print(i,end= " ")
LeapRange(1970,2019)

1972 1976 1980 1984 1988 1992 1996 2000 2004 2008 2012 2016

In [ ]:
li=[1,2,3,2,1]
unique=[]
unique=[i for  ]

In [46]:
## Even numbers 

st=10
et=20
even=[i for i in range(st,et+1) if i%2==0]
even

[10, 12, 14, 16, 18, 20]